// ==========================================================================

// Workflow for Craft CMS
// Author: Verbb - https://verbb.io/

// ==========================================================================

@import "base";



// ==========================================================================
// Workflow Element Index
// ==========================================================================

.status.approved {
    background-color: #27AE60;
    border-color: transparent !important;
}

.status.rejected {
    background-color: #D0021B;
    border-color: transparent !important;
}



// ==========================================================================
// Workflow Entry Widget
// ==========================================================================

.workflow-pane {
    margin: 0;
    border-radius: 0;
}

.workflow-pane > .field {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e5e8;
}

.workflow-pane > .field:last-child {
    border: 0;
    padding-bottom: 0;
}

.workflow-pane #workflowNotes-field {
    margin: 14px 0;
}

.workflow-pane .btngroup {
    justify-content: space-between;
}

.workflow-info-pane {
    font-size: 12px;
    line-height: 1.5;
    padding: 10px 24px;
}

.workflow-info-pane > .field {
    padding-bottom: 0;
}



// ==========================================================================
// Workflow Dashboard Widget
// ==========================================================================

body.ltr .workflow-widget .status {
    margin-right: 5px;
}

body.rtl .workflow-widget .status {
    margin-left: 5px;
}


