{% do view.registerAssetBundle('verbb\\workflow\\web\\assets\\cp\\WorkflowAsset') %}

{% extends '_layouts/elementindex' %}

{% requirePermission 'workflow-overview' %}

{% set crumbs = [
    { label: 'Workflow' | t('workflow'), url: url('workflow') },
    { label: 'Submissions' | t('workflow'), url: url('workflow') },
] %}

{% set elementType = 'verbb\\workflow\\elements\\Submission' %}
{% set selectedTab = 'workflow' %}
{% set selectedSubnavItem = 'overview' %}
{% set showStatusMenu = true %}
{% set title = 'Workflow' %}
