{% includeCssResource 'workflow/css/workflow.css' %}

{% import "_includes/forms" as forms %}

{% set pendingSubmissions = craft.workflow.submissions({ status: 'pending' }).count() %}
{% set nonPendingSubmissions = craft.workflow.submissions({ status: 'not pending' }).count() %}

{% if nonPendingSubmissions %}
    <div class="pane workflow-pane">
        {% for submission in submissions if submission.status != 'pending' %}
            {% if submission.status == 'approved' %}
                <div class="field">
                    <div class="heading">
                        <label>{{ "Approved submission" | t }}</label>

                        <div class="instructions">
                            <p><a href="{{ submission.publisher.cpEditUrl }}">{{ submission.publisher }}</a> {{ "approved this entry on {date}." | t({ date: submission.dateApproved | date('jS M Y g:ia') }) }}</p>

                            {% if submission.notes %}
                                <p class="code">"{{ submission.notes }}"</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elseif submission.status == 'rejected' %}
                <div class="field">
                    <div class="heading">
                        <label>{{ "Rejected submission" | t }}</label>

                        <div class="instructions">
                            <p><a href="{{ submission.publisher.cpEditUrl }}">{{ submission.publisher }}</a> {{ "rejected this entry on {date}." | t({ date: submission.dateRejected | date('jS M Y g:ia') }) }}</p>

                            {% if submission.notes %}
                                <p class="code">"{{ submission.notes }}"</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elseif submission.status == 'revoked' %}
                <div class="field">
                    <div class="heading">
                        <label>{{ "Revoked submission" | t }}</label>

                        <div class="instructions">
                            <p><a href="{{ submission.editor.cpEditUrl }}">{{ submission.editor }}</a> {{ "revoked this submission on {date}." | t({ date: submission.dateRevoked | date('jS M Y g:ia') }) }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if pendingSubmissions %}
    <div class="pane workflow-pane">
        {% for submission in submissions if submission.status == 'pending' %}
            <div class="field">
                <div class="heading">
                    <label>{{ "Submission awaiting approval" | t }}</label>

                    <div class="instructions">
                        <p><a href="{{ submission.editor.cpEditUrl }}">{{ submission.editor }}</a> {{ "has submitted this entry for review on {date}. Please review this entry before publishing." | t({ date: submission.dateCreated | date('jS M Y g:ia') }) }}</p>
                    </div>
                </div>

                {{ forms.textareaField({
                    placeholder: 'Notes about your response.' | t,
                    id: 'workflowNotes',
                    rows: 2,
                    value: submission.notes,
                }) }}

                {% set draftId = context.draftId | default('') %}

                <div class="btngroup">
                    <a class="btn submit" href="{{ actionUrl('workflow/approveSubmission', { submissionId: submission.id, draftId: draftId }) }}">{{ "Approve & publish entry" | t }}</a>
                </div>

                <div class="right">
                    <a class="btn formsubmit" href="{{ actionUrl('workflow/rejectSubmission', { submissionId: submission.id, draftId: draftId }) }}">{{ "Reject" | t }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{# Because we can't have a form inside the outer entries saving form, we need to append notes onto our button submits #}
{% set js %}
    $('.workflow-pane .btn').on('click', function(e) {
        var notes = $('#workflowNotes-field textarea').val();
        var href = $(this).attr('href');

        $(this).attr('href', href + '&notes=' + notes);
    });
{% endset %}

{% includeJs js first %}
