{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% set groups = [] %}
{% for group in craft.app.userGroups.getAllGroups() %}
    {% set groups = groups | merge([{ label: group.name, value: group.uid }]) %}
{% endfor %}

{# TODO: add to Sass file #}
{% css %}
table.editable tbody tr td {
    text-align: left;
}
table.editable tbody tr td:first-of-type:before {
    font-family: 'Craft';
    content: 'rarr';
    color: #9aa5b1;
    vertical-align: middle;
    margin-right: 5px;
}
{% endcss %}


{% set groupsWithNone = [{ label: "None" | t('workflow'), value: '' }] | merge(groups) %}

{{ forms.selectField({
    label: 'Editor User Group' | t('workflow'),
    instructions: 'Select the user group that your editors belong to. Editors are users that can edit content, but not publish live.' | t('workflow'),
    id: 'editorUserGroup',
    name: 'editorUserGroup',
    value: settings.editorUserGroup,
    errors: settings.getErrors('editorUserGroup'),
    options: groupsWithNone,
    warning: macros.configWarning('editorUserGroup', 'workflow'),
}) }}

{{ forms.lightswitchField({
    label: 'Editor Submission Notes Required' | t('workflow'),
    instructions: 'Whether editors are required to enter a note in their submissions.' | t('workflow'),
    id: 'editorNotesRequired',
    name: 'editorNotesRequired',
    on: settings.editorNotesRequired,
    warning: macros.configWarning('editorNotesRequired', 'workflow'),
}) }}

<hr>

{% set cols = [
    {
        type: 'select',
        heading: 'User Group' | t('workflow'),
        options: groups,
    },
] %}

{{ forms.editableTableField({
    label: 'Reviewer User Groups' | t('workflow'),
    instructions: 'Select the user groups that your reviewers belong to. Reviewers are users that can review submissions, edit them and pass them along for approval, but not publish live. The review process flows from the first to the last user group in the table.' | t('workflow'),
    name: 'reviewerUserGroups',
    id: 'reviewerUserGroups',
    cols: cols,
    rows: settings.reviewerUserGroups,
    addRowLabel: 'Add a user group' | t('workflow'),
    errors: settings.getErrors('reviewerUserGroups'),
    warning: macros.configWarning('reviewerUserGroups', 'workflow') ?: 'Changing this may result in content being moved or lost in the review process.' | t('workflow'),
})|spaceless }}

<hr>

{{ forms.selectField({
    label: 'Publisher User Group' | t('workflow'),
    instructions: 'Select the user group that your publishers belong to. Publishers are users who are notified when an editor submits content for review, and can approve content to be published live.' | t('workflow'),
    id: 'publisherUserGroup',
    name: 'publisherUserGroup',
    value: settings.publisherUserGroup,
    errors: settings.getErrors('publisherUserGroup'),
    required: true,
    options: groups,
    warning: macros.configWarning('publisherUserGroup', 'workflow'),
}) }}

{{ forms.lightswitchField({
    label: 'Publisher Submission Notes Required' | t('workflow'),
    instructions: 'Whether publishers are required to enter a note in their submissions.' | t('workflow'),
    id: 'publisherNotesRequired',
    name: 'publisherNotesRequired',
    on: settings.publisherNotesRequired,
    warning: macros.configWarning('publisherNotesRequired', 'workflow'),
}) }}
