{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% set sections = [] %}
{% for section in craft.app.entries.getAllSections() %}
    {% set sections = [{ value: section.uid, label: section.name | e }] | merge(sections) %}
{% endfor %}

{{ forms.checkboxSelectField({
    label: 'Enabled Sections' | t('workflow'),
    instructions: 'Select which sections the workflow should be enabled for.' | t('workflow'),
    id: 'enabledSections',
    name: 'enabledSections',
    values: settings.enabledSections,
    errors: settings.getErrors('enabledSections'),
    options: sections,
    first: true,
    showAllOption: true,
    warning: macros.configWarning('enabledSections', 'workflow'),
}) }}

{% set groups = [{ label: "None" | t('workflow'), value: '' }] %}
{% for group in craft.app.userGroups.getAllGroups() %}
    {% set groups = groups | merge([{ label: group.name | e, value: group.uid }]) %}
{% endfor %}
