{# Swap out 'pending' for 'created' to keep with past-tense action #}
{% set statusText = (review.status == 'pending') ? 'created' | t('workflow') : review.status %}

<div class="workflow-compare-review-heading">
    <label class="review-count">{{ review.userUrl }} {{ '{status} this submission on {date}.' | t('workflow', { status: statusText, date: review.dateCreated | datetime('medium') }) }}</label>
    <label class="review-status-badge {{ review.status }}">{{ statusText }}</label>
</div>

{% for tab in form.tabs %}
    {{ tab.getContent() | raw }}
{% endfor %}