{% do view.registerAssetBundle('verbb\\workflow\\assetbundles\\WorkflowAsset') %}

{% import '_includes/forms' as forms %}

{% set canSubmitForReview = true %}
{% set pendingSubmissions = [] %}
{% set nonPendingSubmissions = [] %}

{% if submissions | length %}
    {% for submission in submissions %}
        {% if submission.status == 'pending' %}
            {% set pendingSubmissions = pendingSubmissions | merge([submission]) %}
        {% else %}
            {% set nonPendingSubmissions = nonPendingSubmissions | merge([submission]) %}
        {% endif %}
    {% endfor %}
{% endif %}

{# Check if the editor has to create a new draft on an existing entry #}
{% set isUnpublishedDraft = entry.getIsUnpublishedDraft() %}
{% set isCurrent = entry.getIsCanonical() or entry.isProvisionalDraft %}
{% set canonical = entry.getCanonical(true) %}

{% set canCreateDrafts = canonical.canCreateDrafts(currentUser) %}
{% set canSave = entry.isProvisionalDraft ? canonical.canSave(currentUser) : entry.canSave(currentUser) %}

{% if (isCurrent and not isUnpublishedDraft and canCreateDrafts and not canSave) %}
    {% set canSubmitForReview = false %}
{% endif %}

{% if not pendingSubmissions %}
    {% if canSubmitForReview %}
        <div class="pane workflow-pane">
            <div class="workflow-submission">
                <div class="workflow-submission-heading">
                    <label>{{ "Submit for review" | t('workflow') }}</label>
                </div>

                <div class="instructions">
                    <p>{{ "Submitting this entry for review will lock further edits and notify the next editors in the approval process that this entry is ready for approval." | t('workflow') }}</p>
                </div>

                <div class="workflow-submission-body">
                    {% set placeholderText = settings.getEditorNotesRequired(entry.site) ? 'Notes about your submission (required)' : 'Notes about your submission' %}

                    {{ forms.textareaField({
                        placeholder: placeholderText | t('workflow'),
                        id: 'editorNotes',
                        name: 'editorNotes',
                        class: 'field-notes',
                        rows: 2,
                        value: editorNotes ?? '',
                        required: settings.getEditorNotesRequired(entry.site),
                        errors: editorNotesErrors is defined ? editorNotesErrors,
                    }) }}
                </div>

                <div class="workflow-submission-footer btngroup">
                    <a class="btn formsubmit submit" data-param="workflow-action" data-value="save-submission" data-redirect="{{ '{cpEditUrl}' | hash }}">{{ "Save draft and submit for review" | t('workflow') }}</a>
                </div>
            </div>
        </div>
    {% endif %}

{% else %}
    {% set submission = pendingSubmissions[0] %}

    <div class="pane workflow-pane">
        <div class="workflow-submission">
            <div class="workflow-submission-heading">
                <span class="status pending"></span>
                <label>{{ "Awaiting approval" | t('workflow') }}</label>
                <a class="fieldtoggle" data-target="workflow-submission-info"></a>
            </div>

            <div id="workflow-submission-info" class="hidden">
                <div class="instructions">
                    <p style="color: #da5a47;">{{ "This entry was submitted for review on {date} and is awaiting approval. Changes cannot be made until approved." | t('workflow', { date: submission.dateCreated | datetime('medium') }) }}</p>

                    {% if submission.editorNotes %}
                        <p class="code">{{ 'Editor Notes' | t('workflow') }}: "{{ submission.editorNotes }}"</p>
                    {% endif %}

                    {% for review in submission.getReviews() %}
                        <p class="code">{{ 'Reviewer Notes' | t('workflow') }}: "{{ review.notes }}"</p>
                    {% endfor %}

                    {% if submission.publisherNotes %}
                        <p class="code">{{ 'Publisher Notes' | t('workflow') }}: "{{ submission.publisherNotes }}"</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <input type="hidden" name="submissionId" value="{{ submission.id }}">

        <div class="workflow-submission-footer">
            <a class="btn formsubmit" data-param="workflow-action" data-value="revoke-submission" data-redirect="{{ '{cpEditUrl}' | hash }}">{{ "Revoke submission" | t('workflow') }}</a>
        </div>
    </div>
{% endif %}

{% if nonPendingSubmissions | length %}
    <div class="pane workflow-pane workflow-history-pane">
        {% for submission in submissions %}
            {% if submission.status == 'approved' %}
                <div class="workflow-history">
                    <div class="workflow-history-heading">
                        <span class="status on"></span>
                        <label>{{ "Approved submission" | t('workflow') }}</label>
                        <a class="fieldtoggle" data-target="history-info-{{ loop.index }}"></a>
                    </div>

                    <div id="history-info-{{ loop.index }}" class="workflow-history-info hidden">
                        <div class="instructions">
                            <p>{{ submission.publisherUrl | raw }} {{ "approved this entry on {date}." | t('workflow', { date: submission.dateApproved | datetime('medium') }) }}</p>

                            {% if submission.editorNotes %}
                                <p class="code">{{ 'Editor Notes' | t('workflow') }}: "{{ submission.editorNotes }}"</p>
                            {% endif %}

                            {% for review in submission.getReviews() %}
                                <p class="code">{{ 'Reviewer Notes' | t('workflow') }}: "{{ review.notes }}"</p>
                            {% endfor %}

                            {% if submission.publisherNotes %}
                                <p class="code">{{ 'Publisher Notes' | t('workflow') }}: "{{ submission.publisherNotes }}"</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elseif submission.status == 'rejected' %}
                <div class="workflow-history">
                    <div class="workflow-history-heading">
                        <span class="status off"></span>
                        <label>{{ "Rejected submission" | t('workflow') }}</label>
                        <a class="fieldtoggle" data-target="history-info-{{ loop.index }}"></a>
                    </div>

                    <div id="history-info-{{ loop.index }}" class="workflow-history-info hidden">
                        <div class="instructions">
                            {% set url = submission.publisherUrl ?: submission.lastReviewerUrl %}
                            <p>{{ url | raw }} {{ "rejected this entry on {date}." | t('workflow', { date: submission.dateRejected | datetime('medium') }) }}</p>

                            {% if submission.editorNotes %}
                                <p class="code">{{ 'Editor Notes' | t('workflow') }}: "{{ submission.editorNotes }}"</p>
                            {% endif %}

                            {% for review in submission.getReviews() %}
                                <p class="code">{{ 'Reviewer Notes' | t('workflow') }}: "{{ review.notes }}"</p>
                            {% endfor %}

                            {% if submission.publisherNotes %}
                                <p class="code">{{ 'Publisher Notes' | t('workflow') }}: "{{ submission.publisherNotes }}"</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elseif submission.status == 'revoked' %}
                <div class="workflow-history">
                    <div class="workflow-history-heading">
                        <span class="status"></span>
                        <label>{{ "Revoked submission" | t('workflow') }}</label>
                        <a class="fieldtoggle" data-target="history-info-{{ loop.index }}"></a>
                    </div>

                    <div id="history-info-{{ loop.index }}" class="workflow-history-info hidden">
                        <div class="instructions">
                            <p>{{ submission.editorUrl | raw }} {{ "revoked this entry on {date}." | t('workflow', { date: submission.dateRevoked | datetime('medium') }) }}</p>

                            {% if submission.editorNotes %}
                                <p class="code">{{ 'Editor Notes' | t('workflow') }}: "{{ submission.editorNotes }}"</p>
                            {% endif %}

                            {% for review in submission.getReviews() %}
                                <p class="code">{{ 'Reviewer Notes' | t('workflow') }}: "{{ review.notes }}"</p>
                            {% endfor %}

                            {% if submission.publisherNotes %}
                                <p class="code">{{ 'Publisher Notes' | t('workflow') }}: "{{ submission.publisherNotes }}"</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{# Disable saving if there's a pending submission #}
{% if submissions | length and settings.lockDraftSubmissions %}
    {% for submission in submissions %}
        {% if submission.status == 'pending' %}
            {# Hide first so we don't see a flicker #}
            {% css %}
                #main #header .btn.submit { display: none; }
            {% endcss %}

            {% js %}
                var buttonClicked = false;

                {# Disable any type of form submitting unless we're doing a workflow action #}
                $(document).on('submit', 'form', function(e) {
                    if (!buttonClicked) {
                        e.preventDefault();
                    }
                });

                {# Allow only workflow actions to submit #}
                $(document).on('click', '[data-param="workflow-action"]', function(e) {
                    buttonClicked = true;

                    // Wait for a moment and submit again
                    setTimeout(function() {
                        $('form:last').submit();
                    }, 100);
                });

                {# Remove the submit button #}
                $('#main #header .btn.submit').remove();
            {% endjs %}

        {% endif %}
    {% endfor %}
{% endif %}
