{% do view.registerAssetBundle('verbb\\workflow\\assetbundles\\WorkflowAsset') %}

{% import '_includes/forms' as forms %}

{% set pendingSubmissions = [] %}
{% set nonPendingSubmissions = [] %}

{% if submissions | length %}
    {% for submission in submissions %}
        {% if submission.status == 'pending' %}
            {% set pendingSubmissions = pendingSubmissions | merge([submission]) %}
        {% else %}
            {% set nonPendingSubmissions = nonPendingSubmissions | merge([submission]) %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if not pendingSubmissions | length %}
    <div class="pane workflow-pane">
        <div class="workflow-submission">
            <div class="workflow-submission-heading">
                <label>{{ "Submit for review" | t('workflow') }}</label>
            </div>

            <div class="instructions">
                <p>{{ "Submitting this entry for review will lock further edits and notify your publisher that this entry is ready for approval." | t('workflow') }}</p>
            </div>

            <div class="workflow-submission-body">
                {% set required = settings.editorNotesRequired ? ' (required)' : '' %}

                {{ forms.textareaField({
                    placeholder: ('Notes about your submission {required}') | t('workflow', { required: required }),
                    id: 'editorNotes',
                    name: 'editorNotes',
                    class: 'field-notes',
                    rows: 2,
                    required: settings.editorNotesRequired,
                    errors: editorNotesErrors is defined ? editorNotesErrors,
                }) }}
            </div>

            <div class="workflow-submission-footer btngroup">
                <a class="btn formsubmit submit" data-action="entry-revisions/save-draft" data-param="workflow-action" data-value="save-submission">{{ "Save draft and submit for review" | t('workflow') }}</a>
            </div>
        </div>
    </div>
{% endif %}

{% if pendingSubmissions | length %}
    {% set submission = pendingSubmissions[0] %}

    <div class="pane workflow-pane">
        <div class="workflow-submission">
            <div class="workflow-submission-heading">
                <span class="status pending"></span>
                <label>{{ "Awaiting approval" | t('workflow') }}</label>
                <a class="fieldtoggle" data-target="workflow-submission-info"></a>
            </div>

            <div id="workflow-submission-info" class="hidden">
                <div class="instructions">
                    <p style="color: #da5a47;">{{ "This entry has been submitted for review on {date} and is awaiting approval. Changes cannot be made until approved." | t('workflow', { date: submission.dateCreated | date('jS M Y g:ia') }) }}</p>

                    {% if submission.editorNotes %}
                        <p class="code">{{ 'Editor Notes' | t('workflow') }}: "{{ submission.editorNotes }}"</p>
                    {% endif %}

                    {% if submission.publisherNotes %}
                        <p class="code">{{ 'Publisher Notes' | t('workflow') }}: "{{ submission.publisherNotes }}"</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <input type="hidden" name="submissionId" value="{{ submission.id }}">

        <div class="workflow-submission-footer">
            <a class="btn formsubmit" data-action="entry-revisions/save-draft" data-param="workflow-action" data-value="revoke-submission" data-redirect="{{ craft.app.request.url | hash }}">{{ "Revoke submission" | t('workflow') }}</a>
        </div>
    </div>
{% endif %}

{% if nonPendingSubmissions | length %}
    <div class="pane workflow-pane workflow-history-pane">
        {% for submission in submissions %}
            {% if submission.status == 'approved' %}
                <div class="workflow-history">
                    <div class="workflow-history-heading">
                        <span class="status on"></span>
                        <label>{{ "Approved submission" | t('workflow') }}</label>
                        <a class="fieldtoggle" data-target="history-info-{{ loop.index }}"></a>
                    </div>

                    <div id="history-info-{{ loop.index }}" class="workflow-history-info hidden">
                        <div class="instructions">
                            <p>{{ submission.publisherUrl | raw }} {{ "approved this entry on {date}." | t('workflow', { date: submission.dateApproved | date('jS M Y g:ia') }) }}</p>

                            {% if submission.editorNotes %}
                                <p class="code">{{ 'Editor Notes' | t('workflow') }}: "{{ submission.editorNotes }}"</p>
                            {% endif %}

                            {% if submission.publisherNotes %}
                                <p class="code">{{ 'Publisher Notes' | t('workflow') }}: "{{ submission.publisherNotes }}"</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elseif submission.status == 'rejected' %}
                <div class="workflow-history">
                    <div class="workflow-history-heading">
                        <span class="status off"></span>
                        <label>{{ "Rejected submission" | t('workflow') }}</label>
                        <a class="fieldtoggle" data-target="history-info-{{ loop.index }}"></a>
                    </div>

                    <div id="history-info-{{ loop.index }}" class="workflow-history-info hidden">
                        <div class="instructions">
                            <p>{{ submission.publisherUrl | raw }} {{ "rejected this entry on {date}." | t('workflow', { date: submission.dateRejected | date('jS M Y g:ia') }) }}</p>

                            {% if submission.editorNotes %}
                                <p class="code">{{ 'Editor Notes' | t('workflow') }}: "{{ submission.editorNotes }}"</p>
                            {% endif %}

                            {% if submission.publisherNotes %}
                                <p class="code">{{ 'Publisher Notes' | t('workflow') }}: "{{ submission.publisherNotes }}"</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elseif submission.status == 'revoked' %}
                <div class="workflow-history">
                    <div class="workflow-history-heading">
                        <span class="status"></span>
                        <label>{{ "Revoked submission" | t('workflow') }}</label>
                        <a class="fieldtoggle" data-target="history-info-{{ loop.index }}"></a>
                    </div>

                    <div id="history-info-{{ loop.index }}" class="workflow-history-info hidden">
                        <div class="instructions">
                            <p>{{ submission.editorUrl | raw }} {{ "revoked this entry on {date}." | t('workflow', { date: submission.dateRevoked | date('jS M Y g:ia') }) }}</p>

                            {% if submission.editorNotes %}
                                <p class="code">{{ 'Editor Notes' | t('workflow') }}: "{{ submission.editorNotes }}"</p>
                            {% endif %}

                            {% if submission.publisherNotes %}
                                <p class="code">{{ 'Publisher Notes' | t('workflow') }}: "{{ submission.publisherNotes }}"</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{# Disable saving if there's a submission #}
{% if submissions | length %}
    {% for submission in submissions %}
        {% if submission.status == 'pending' %}
            {# Hide first so we don't see a flicker #}
            {% css %}
                #main #header .btn.submit { display: none; }
            {% endcss %}

            {% js %}
                var buttonClicked = false;

                {# Disable any type of form submitting unless we're doing a workflow action #}
                $('#main-form').on('submit', function(e) {
                    if (!buttonClicked) {
                        e.preventDefault();
                    }
                });

                {# Allow only workflow actions to submit #}
                $('[data-param="workflow-action"]').on('click', function(e) {
                    buttonClicked = true;
                });

                {# Remove the submit button #}
                $('#main #header .btn.submit').remove();
            {% endjs %}

        {% endif %}
    {% endfor %}
{% endif %}
