{% do view.registerAssetBundle('verbb\\workflow\\assetbundles\\WorkflowAsset') %}

{% import '_includes/forms' as forms %}

{% set pendingSubmissions = [] %}
{% set nonPendingSubmissions = [] %}

{% if submissions | length %}
    {% for submission in submissions %}
        {% if submission.status == 'pending' %}
            {% set pendingSubmissions = pendingSubmissions | merge([submission]) %}
        {% else %}
            {% set nonPendingSubmissions = nonPendingSubmissions | merge([submission]) %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if not pendingSubmissions | length %}
    <div class="pane workflow-pane">
        <div class="field">
            <div class="heading">
                <label>{{ "Submit for review" | t('workflow') }}</label>

                <div class="instructions">
                    <p>{{ "Submitting this entry for review will lock further edits and notify your publisher that this entry is ready for approval." | t('workflow') }}</p>
                </div>
            </div>

            <br>

            <div class="btngroup">
                {% set draftId = context.draftId | default('') %}
                {% set siteId = context.entry.siteId | default('') %}
                <a href="{{ actionUrl('workflow/submissions/send', { entryId: context.entry.id, draftId: draftId, siteId: siteId }) }}" class="btn submit">{{ "Submit for review" | t('workflow') }}</a>
            </div>
        </div>
    </div>
{% endif %}

{% if pendingSubmissions | length %}
    {% set submission = pendingSubmissions[0] %}

    <div class="pane workflow-pane">
        <div class="field">
            <div class="heading">
                <label>{{ "Awaiting approval" | t('workflow') }}</label>

                <div class="instructions">
                    <p style="color: #da5a47;">{{ "This entry has been submitted for review on {date} and is awaiting approval. Changes cannot be made until approved." | t('workflow', { date: submission.dateCreated | date('jS M Y g:ia') }) }}</p>

                    <a href="{{ actionUrl('workflow/submissions/revoke', { submissionId: submission.id }) }}" class="btn small">{{ "Revoke submission" | t('workflow') }}</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if nonPendingSubmissions | length %}
    <div class="pane workflow-pane workflow-info-pane">
        {% for submission in submissions %}
            {% if submission.status == 'approved' %}
                <div class="field">
                    <div class="heading">
                        <label>{{ "Approved submission" | t('workflow') }}</label>

                        <div class="instructions">
                            <p><a href="{{ submission.publisher.cpEditUrl }}">{{ submission.publisher }}</a> {{ "approved this entry on {date}." | t('workflow', { date: submission.dateApproved | date('jS M Y g:ia') }) }}</p>

                            {% if submission.notes %}
                                <p class="code">"{{ submission.notes }}"</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elseif submission.status == 'rejected' %}
                <div class="field">
                    <div class="heading">
                        <label>{{ "Rejected submission" | t('workflow') }}</label>

                        <div class="instructions">
                            <p><a href="{{ submission.publisher.cpEditUrl }}">{{ submission.publisher }}</a> {{ "rejected this entry on {date}." | t('workflow', { date: submission.dateRejected | date('jS M Y g:ia') }) }}</p>

                            {% if submission.notes %}
                                <p class="code">"{{ submission.notes }}"</p>
                            {% endif %}
                        </div>
                    </div>
                </div>                
            {% elseif submission.status == 'revoked' %}
                <div class="field">
                    <div class="heading">
                        <label>{{ "Revoked submission" | t('workflow') }}</label>

                        <div class="instructions">
                            <p><a href="{{ submission.editor.cpEditUrl }}">{{ submission.editor }}</a> {{ "revoked this entry on {date}." | t('workflow', { date: submission.dateRevoked | date('jS M Y g:ia') }) }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{# Disable saving if there's a submission #}
{% if submissions | length %}
    {% for submission in submissions %}
        {% if submission.status == 'pending' %}
            {# Hide first so we don't see a flicker #}
            {% css %}
                #main #header .btn.submit { display: none; }
            {% endcss %}

            {% js %} 
                $('#main-form').on('submit', function(e) {
                    e.preventDefault();
                });

                $('#main #header .btn.submit').remove();
            {% endjs %}

        {% endif %}
    {% endfor %}
{% endif %}
