{% do view.registerAssetBundle('verbb\\workflow\\assetbundles\\WorkflowAsset') %}

{% import '_includes/forms' as forms %}

{% set pendingSubmissions = [] %}
{% set nonPendingSubmissions = [] %}

{% if submissions | length %}
    {% for submission in submissions %}
        {% if submission.status == 'pending' %}
            {% set pendingSubmissions = pendingSubmissions | merge([submission]) %}
        {% else %}
            {% set nonPendingSubmissions = nonPendingSubmissions | merge([submission]) %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if pendingSubmissions | length %}
    {% set submission = pendingSubmissions[0] %}

    <div class="pane workflow-pane">
        <div class="workflow-submission">
            <div class="workflow-submission-heading">
                <span class="status pending"></span>
                <label>{{ "Awaiting approval" | t('workflow') }}</label>
                <a class="fieldtoggle" data-target="workflow-submission-info"></a>
            </div>

            <div id="workflow-submission-info" class="hidden">
                <div class="instructions">
                    <p>{{ submission.editorUrl | raw }} {{ "submitted this entry for review on {date}. Please review this entry before publishing." | t('workflow', { date: submission.dateCreated | datetime('medium') }) }}</p>

                    {% if submission.editorNotes %}
                        <p class="code">{{ 'Editor Notes' | t('workflow') }}: "{{ submission.editorNotes }}"</p>
                    {% endif %}

                    {% for review in submission.getReviews() %}
                        <p class="code">{{ 'Reviewer Notes' | t('workflow') }}: "{{ review.notes | raw }}"</p>
                    {% endfor %}

                    {% if submission.publisherNotes %}
                        <p class="code">{{ 'Publisher Notes' | t('workflow') }}: "{{ submission.publisherNotes }}"</p>
                    {% endif %}
                </div>
            </div>

            <div class="workflow-submission-body">
                {% set placeholderText = settings.getPublisherNotesRequired(context.site) ? 'Notes about your response (required)' : 'Notes about your response' %}

                {{ forms.textareaField({
                    placeholder: placeholderText | t('workflow'),
                    id: 'publisherNotes',
                    name: 'publisherNotes',
                    class: 'field-notes',
                    rows: 2,
                    value: publisherNotes ?? '',
                    required: settings.getPublisherNotesRequired(context.site),
                    errors: publisherNotesErrors is defined ? publisherNotesErrors,
                }) }}
            </div>

            <input type="hidden" name="submissionId" value="{{ submission.id }}">

            {% set publishEndpoint = 'workflow/submissions/publish-entry' %}
            {% set approveEndpoint = 'workflow/submissions/save-entry' %}

            {% if context.entry.getIsDraft() %}
                {% set publishEndpoint = 'workflow/submissions/publish-draft' %}
                {% set approveEndpoint = 'workflow/submissions/save-draft' %}
            {% endif %}

            <div class="workflow-submission-footer btngroup">
                <div id="save-btn-container" class="btngroup submit">
                    <a class="btn formsubmit submit" data-action="{{ publishEndpoint }}" data-param="workflow-action" data-value="approve-submission" data-redirect="{{ craft.app.request.url | hash }}">{{ "Approve and publish" | t('workflow') }}</a>

                    <div class="btn submit menubtn"></div>

                    <div class="menu" data-align="right">
                        <ul>
                            <li>
                                <a class="formsubmit" data-action="{{ approveEndpoint }}" data-param="workflow-action" data-value="approve-only-submission" data-redirect="{{ craft.app.request.url | hash }}">
                                    {{ "Approve only" | t('workflow') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <a class="formsubmit btn" data-action="workflow/submissions/save-draft" data-param="workflow-action" data-value="reject-submission" data-redirect="{{ craft.app.request.url | hash }}">{{ "Reject" | t('workflow') }}</a>
            </div>
        </div>
    </div>
{% endif %}

{% if nonPendingSubmissions | length %}
    <div class="pane workflow-pane workflow-history-pane">
        {% for submission in submissions if submission.status != 'pending' %}
            {% if submission.status == 'approved' %}
                <div class="workflow-history">
                    <div class="workflow-history-heading">
                        <span class="status on"></span>
                        <label>{{ "Approved submission" | t('workflow') }}</label>
                        <a class="fieldtoggle" data-target="history-info-{{ loop.index }}"></a>
                    </div>

                    <div id="history-info-{{ loop.index }}" class="workflow-history-info hidden">
                        <div class="instructions">
                            <p>{{ submission.publisherUrl | raw }} {{ "approved this entry on {date}." | t('workflow', { date: submission.dateApproved | datetime('medium') }) }}</p>

                            {% if submission.editorNotes %}
                                <p class="code">{{ 'Editor Notes' | t('workflow') }}: "{{ submission.editorNotes }}"</p>
                            {% endif %}

                            {% for review in submission.getReviews() %}
                                <p class="code">{{ 'Reviewer Notes' | t('workflow') }}: "{{ review.notes | raw }}"</p>
                            {% endfor %}

                            {% if submission.publisherNotes %}
                                <p class="code">{{ 'Publisher Notes' | t('workflow') }}: "{{ submission.publisherNotes }}"</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elseif submission.status == 'rejected' %}
                <div class="workflow-history">
                    <div class="workflow-history-heading">
                        <span class="status off"></span>
                        <label>{{ "Rejected submission" | t('workflow') }}</label>
                        <a class="fieldtoggle" data-target="history-info-{{ loop.index }}"></a>
                    </div>

                    <div id="history-info-{{ loop.index }}" class="workflow-history-info hidden">
                        <div class="instructions">
                            {% set url = submission.publisherUrl ?: submission.lastReviewerUrl %}
                            <p>{{ url | raw }} {{ "rejected this entry on {date}." | t('workflow', { date: submission.dateRejected | datetime('medium') }) }}</p>

                            {% if submission.editorNotes %}
                                <p class="code">{{ 'Editor Notes' | t('workflow') }}: "{{ submission.editorNotes }}"</p>
                            {% endif %}

                            {% for review in submission.getReviews() %}
                                <p class="code">{{ 'Reviewer Notes' | t('workflow') }}: "{{ review.notes | raw }}"</p>
                            {% endfor %}

                            {% if submission.publisherNotes %}
                                <p class="code">{{ 'Publisher Notes' | t('workflow') }}: "{{ submission.publisherNotes }}"</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elseif submission.status == 'revoked' %}
                <div class="workflow-history">
                    <div class="workflow-history-heading">
                        <span class="status"></span>
                        <label>{{ "Revoked submission" | t('workflow') }}</label>
                        <a class="fieldtoggle" data-target="history-info-{{ loop.index }}"></a>
                    </div>

                    <div id="history-info-{{ loop.index }}" class="workflow-history-info hidden">
                        <div class="instructions">
                            <p>{{ submission.editorUrl | raw }} {{ "revoked this submission on {date}." | t('workflow', { date: submission.dateRevoked | datetime('medium') }) }}</p>

                            {% if submission.editorNotes %}
                                <p class="code">{{ 'Editor Notes' | t('workflow') }}: "{{ submission.editorNotes }}"</p>
                            {% endif %}

                            {% for review in submission.getReviews() %}
                                <p class="code">{{ 'Reviewer Notes' | t('workflow') }}: "{{ review.notes | raw }}"</p>
                            {% endfor %}

                            {% if submission.publisherNotes %}
                                <p class="code">{{ 'Publisher Notes' | t('workflow') }}: "{{ submission.publisherNotes }}"</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
