{% extends parentLayout ?? '_layouts/cp' %}

{% do view.registerAssetBundle('verbb\\workflow\\assetbundles\\WorkflowAsset') %}

{% set tabs = {
    workflow: { label: 'Overview' | t('workflow'), url: url('workflow') },
    drafts: { label: 'Drafts' | t('workflow'), url: url('workflow/drafts') },
    settings: { label: 'Settings' | t('workflow'), url: url('workflow/settings') },
} %}

{% set title = 'Workflow ' ~ tabs[selectedTab].label %}

{% set content %}
    {% block blockContent %}

    {% endblock %}

    <hr>
    
    <div id="plugin-footer">
        <div class="footer-left">
            {% block footerButton %}

            {% endblock %}
        </div>

        <div class="footer-right">
            <a class="plugin-credit" href="https://verbb.io" target="_blank">
                <span class="credit-love">Made with <span style="color: #e25555;">&#9829;</span> by</span>

                <div class="credit-pill">
                    <div class="credit-mask">
                        <div class="credit-wrap">
                            {% include 'navigation/_svg/verbb-logo.svg' %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endset %}
