{% extends 'verbb-base/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% do view.registerAssetBundle('verbb\\workflow\\assetbundles\\WorkflowAsset') %}
{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% if title is not defined and pageTitle %}
    {% set title = craft.workflow.getPluginName() ~ ' — ' ~ pageTitle %}
{% endif %}

{% set crumbs = [
    { label: craft.workflow.getPluginName() | t('workflow'), url: url('workflow') },
    { label: 'Settings' | t('app'), url: url('workflow/settings') },
] | merge(crumbs ?? []) %}

{% set pageTabs = craft.workflow.getSettingsNavItems() %}

{% block settingsMeta %}
    {{ hiddenInput('pluginHandle', 'workflow') }}
{% endblock %}
