{% extends "workflow/_layouts" %}

{% set crumbs = [
    { label: "Workflow" | t, url: url('workflow') },
    { label: "Drafts" | t, url: url('workflow/drafts') },
] %}

{% set selectedTab = 'drafts' %}

{% block blockContent %}

{% if entries | length %}
    <table id="entries" class="data fullwidth collapsible">
        <thead>
            <tr>
                <th scope="col">{{ 'Entry' | t }}</th>
                <th scope="col">{{ 'Date Created' | t }}</th>
                <th scope="col">{{ 'Date Updated' | t }}</th>
                <td class="thin"></td>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr data-id="{{ entry.id }}">
                    <th scope="row" data-title="{{ 'Name' | t }}">
                        <a href="{{ entry.cpEditUrl }}">{{ entry.title }}</a>
                    </th>

                    <td data-title="{{ 'Date created' | t }}">
                        {{ entry.dateCreated | date('Y-m-d H:i:s') }}
                    </td>

                    <td data-title="{{ 'Date updated' | t }}">
                        {{ entry.dateUpdated | date('Y-m-d H:i:s') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{{ "No draft entries." | t }}</p>
{% endif %}

{% endblock %}