<div class="btn menubtn">{{ "Set status" | t('workflow') }}</div>
<div class="menu">
    <ul>
        <li>
            <a class="formsubmit" data-param="status" data-value="approved">
                <span class="status green"></span> {{ "Approved" | t('workflow') }}
            </a>
        </li>
        <li>
            <a class="formsubmit" data-param="status" data-value="pending">
                <span class="status orange"></span> {{ "Pending" | t('workflow') }}
            </a>
        </li>
    </ul>
</div>
