<div class="workflow-widget">
    {% if submissions | length %}
        <table class="data fullwidth">
            <tbody>
                {% for submission in submissions %}
                    <tr>
                        <td>
                            <span class="status {{ submission.status }}"></span>
                            
                            {% if submission.owner %}
                                <a href="{{ submission.cpEditUrl }}">{{ submission.owner.title }}</a>
                            {% endif %}

                            <span class="light">{{ submission.dateCreated | date() }}, {{ submission.editor }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ "No submissions." | t('workflow') }}</p>
    {% endif %}
</div>