{% do view.registerAssetBundle('verbb\\workflow\\assetbundles\\WorkflowAsset') %}

<div class="workflow-widget">
    {% if submissions | length %}
        {% for submission in submissions %}
            <div class="workflow-block">
                <span class="status {{ submission.status }}"></span>

                {% set title = submission.getOwner() ?? ('[Deleted element]' | t('workflow')) %}

                <a href="{{ submission.cpEditUrl }}">
                    <span>{{ title }}</span>
                    <small>{{ submission.dateCreated | timestamp('short') }}: {{ submission.getEditor() }}</small>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p>{{ 'No submissions.' | t('workflow') }}</p>
    {% endif %}
</div>