{% do view.registerAssetBundle('verbb\\workflow\\assetbundles\\WorkflowAsset') %}

<div class="workflow-widget">
    {% if submissions %}
        {% for submission in submissions %}
            <div class="workflow-block">
                {% set owner = submission.getOwner() %}

                {% if owner %}
                    {% include '_elements/element' with { element: owner } %}
                {% else %}
                    {{ '[Deleted element]' | t('workflow') }}
                {% endif %}

                <small>{{ submission.dateCreated | timestamp('short') }}</small>
            </div>
        {% endfor %}
    {% else %}
        <p>{{ 'No submissions.' | t('workflow') }}</p>
    {% endif %}
</div>
