{% import "_includes/forms" as forms %}

{% if craft.app.getIsMultiSite() %}
    {% set editableSites = craft.app.sites.getEditableSites() %}

    {% if editableSites | length %}
        {% set siteInput %}
            <div class="select">
                <select id="site-id" name="siteId">
                    <option value="*"{% if widget.siteId == '*' %} selected{% endif %}>{{ 'All Sites' | t('workflow') }}</option>

                    {% for site in editableSites %}
                        <option value="{{ site.id }}"{% if site.id == widget.siteId %} selected{% endif %}>{{ site.name|t('site') }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endset %}

        {{ forms.field({
            id: 'site-id',
            label: 'Site' | t('app')
        }, siteInput) }}
    {% endif %}
{% endif %}

{{ forms.textField({
    label: "Limit" | t('workflow'),
    name: 'limit',
    value: widget.limit,
    size: 2,
    errors: widget.getErrors('limit')
}) }}

{{ forms.selectField({
    label: 'Status' | t('workflow'),
    instructions: 'Show submissions for certain status.' | t('workflow'),
    name: 'status',
    value: widget.status,
    options: [
        {
            label: 'All' | t('workflow'),
            value: ''
        },
        {
            label: 'Approved' | t('workflow'),
            value: 'approved'
        },
        {
            label: 'Pending' | t('workflow'),
            value: 'pending'
        },
        {
            label: 'Rejected' | t('workflow'),
            value: 'rejected'
        },
        {
            label: 'Revoked' | t('workflow'),
            value: 'revoked'
        }
    ]
}) }}
