{% import '_includes/forms' as forms %}

{% extends 'workflow/_sidebar/_layout' %}

{% block reviewBlock %}
    <div class="workflow-history-action">
        <div class="workflow-submission">
            <div class="workflow-submission-heading">
                <span class="status pending"></span>
                <label>{{ 'Awaiting approval' | t('workflow') }}</label>
                <a class="fieldtoggle" data-target="workflow-submission-info"></a>
            </div>

            <div id="workflow-submission-info" class="hidden">
                <div class="instructions">
                    <p>{{ review.userUrl }} {{ 'submitted this entry for review on {date}. Please review this entry before approving' | t('workflow', { date: review.dateCreated | datetime('medium') }) }}</p>

                    {% if review.notes %}
                        <p class="code">{{ '{role} Notes: “{note}”' | t('workflow', { role: review.roleName, note: review.notes }) | raw }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="workflow-submission-body">
                {% set placeholderText = settings.getPublisherNotesRequired(entry.site) ? 'Notes about your response (required)' : 'Notes about your response' %}

                {{ forms.textareaField({
                    placeholder: placeholderText | t('workflow'),
                    id: 'workflowNotes',
                    name: 'workflowNotes',
                    class: 'field-notes',
                    rows: 2,
                    value: workflowNotes ?? '',
                    required: settings.getPublisherNotesRequired(entry.site),
                    errors: publisherNotesErrors is defined ? publisherNotesErrors,
                }) }}
            </div>

            <input type="hidden" name="submissionId" value="{{ submission.id }}">

            <div class="workflow-submission-footer">
                <div id="save-btn-container" class="btngroup submit">
                    <a class="btn formsubmit submit" data-action="elements/apply-draft" data-param="workflow-action" data-value="approve-submission" data-redirect="{{ '{cpEditUrl}' | hash }}">{{ 'Approve and publish' | t('workflow') }}</a>

                    <div class="btn submit menubtn"></div>

                    <div class="menu" data-align="right">
                        <ul>
                            <li>
                                {# For an un-applied draft, there seems to be some JS in Craft that prevents the page from reloading #}
                                {# when the `data-action` and `data-redirect` params are set, so check to remove them #}
                                {{ tag('a', {
                                    class: 'formsubmit',
                                    text: 'Approve only' | t('workflow'),
                                    data: {
                                        param: 'workflow-action',
                                        value: 'approve-only-submission',
                                        action: entry.getIsUnpublishedDraft() ? 'elements/save-draft' : null,
                                        redirect: entry.getIsUnpublishedDraft() ? '{cpEditUrl}' | hash : null,
                                    },
                                }) }}
                            </li>
                        </ul>
                    </div>
                </div>

                {# For an un-applied draft, there seems to be some JS in Craft that prevents the page from reloading #}
                {# when the `data-action` and `data-redirect` params are set, so check to remove them #}
                {{ tag('a', {
                    class: 'btn formsubmit',
                    text: 'Reject' | t('workflow'),
                    data: {
                        param: 'workflow-action',
                        value: 'reject-submission',
                        action: entry.getIsUnpublishedDraft() ? 'elements/save-draft' : null,
                        redirect: entry.getIsUnpublishedDraft() ? '{cpEditUrl}' | hash : null,
                    },
                }) }}
            </div>
        </div>
    </div>
{% endblock %}
