{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% includeCssResource 'workflow/css/workflow.css' %}

{% set tabs = {
    workflow: { label: "Overview" | t, url: url('workflow') },
    settings: { label: "Settings" | t, url: url('workflow/settings') },
} %}

{% set title = 'Workflow ' ~ tabs[selectedTab].label %}

{% set content %}
    {% block blockContent %}

    {% endblock %}

    <hr>
    
    <div id="plugin-footer">
        <div class="footer-right">
            <div class="plugin-credit">
                <p>{{ craft.workflow.getPluginName }} {{ craft.workflow.getPluginVersion }} &bull; <a href="{{ craft.workflow.getPluginUrl }}" target="_blank">GitHub</a></p>
            </div>
        </div>
    </div>
{% endset %}
