{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% do view.registerAssetBundle('verbb\\workflow\\assetbundles\\WorkflowAsset') %}

{% set submission = oldReview.getSubmission() %}

{% set crumbs = [
    { label: 'Workflow' | t('workflow'), url: url('workflow') },
    { label: submission.title, url: submission.getCpEditUrl() },
] %}

{% if submission %}
    {% set crumbs = crumbs | merge([{ label: submission.title, url: submission.cpEditUrl }]) %}
{% endif %}

{% block main %}

<div class="workflow-compare-reviews">
    {% for review in [oldReview, newReview] %}
        <div class="workflow-compare-review-content" {% if loop.last %}data-review-new{% endif %}>
            {% set entry = review.getElementRevision() %}
                
            {% if entry %}
                {% set fieldLayout = entry.getFieldLayout() %}

                {% if fieldLayout %}
                    {% set form = fieldLayout.createForm(entry, true) %}

                    {% include 'workflow/reviews/_includes/_review' %}
                {% else %}
                    {{ 'Unable to determine field layout for entry.' | t('workflow') }}
                {% endif %}
            {% else %}
                {{ 'Unable to find owner entry "{id}".' | t('workflow', { id: review.elementId ?? 'null' }) }}
            {% endif %}
        </div>
    {% endfor %}
</div>

{% include 'workflow/reviews/_includes/_script' %}

{% endblock %}