{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% do view.registerAssetBundle('verbb\\workflow\\assetbundles\\WorkflowAsset') %}

{% set submission = oldReview.getSubmission() %}

{% set crumbs = [
    { label: 'Workflow' | t('workflow'), url: url('workflow') },
    { label: submission.title, url: submission.cpEditUrl },
] %}

{% block main %}

<div class="workflow-compare-reviews">
    {% for review in [oldReview, newReview] %}
        {% set entry = review.getElementRevision() %}
        {% set fieldLayout = entry.getFieldLayout() %}

        {% if fieldLayout %}
            {% set form = fieldLayout.createForm(entry, true) %}

            <div class="workflow-compare-review-content" {% if loop.last %}data-review-new{% endif %}>
                {% include 'workflow/reviews/_includes/_review' %}
            </div>
        {% endif %}
    {% endfor %}
</div>

{% include 'workflow/reviews/_includes/_script' %}

{% endblock %}